scripts/ export-ignore
public/uploads/ export-ignore
DEPLOY.md export-ignore
PROJECT_MEMORY.md export-ignore
query export-ignore

* text=auto

*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.md text eol=lf
*.sql text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
