# Node/Next.js
node_modules/
.next/
.turbo/
.vercel/

# Env & logs
.env
.env.local
.env.*.local
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Editor/OS
.vscode/
.DS_Store
Thumbs.db

# Git worktrees (interno)
.worktrees/

# Tests/coverage
coverage/

# Prisma
prisma/.env

# Build artifacts
dist/
out/
*.tsbuildinfo
prisma/*.part

# Uploads (persistir fora do Git)
public/uploads/
